:local(.styles) {
    .image-wrapper {
        height: 300px;
    }
    h4 {
        text-transform: uppercase;
        font-weight: bold;
        color: #4a4a4a;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6;
    }
}
