:local(.styles){
    padding-top: 150px;

    .content-image {
        padding-top: 80px;
        padding-left: 70px;

    }

    h1 {
        font-family: 'campton';
        text-transform: uppercase;
        font-weight: bold;
        color: #4a4a4a ;
    }

    h2 {
        font-family: 'campton';
        font-weight: 600;
        color: #4a4a4a ;
        font-size: 24px;

    }
    p {
      font-family: 'campton';
      font-weight: 200;
      color: #4a4a4a ;
      font-size: 18px;
      line-height: 1.8em;

        padding-top: 30px;
    }


}
