:local(.styles) {
  .container {
    padding-bottom: 150px;
  }

    .published {
        text-align: left;
        font-style: italic;
        font-size: 18px;
        min-height: 50px;
          color: #4a4a4a;
    }

    .image-wrapper {
        img {
          width: 100%;
          height: auto;
        }
    }

    .excerpt {
        text-align: left;
        color: #4a4a4a;
    }

    h1 {
        font-family: 'campton';
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin: 100px auto;
        color: #4a4a4a;
    }

    h4 {
    font-family: 'campton';
    font-weight: 700;
    color: #4a4a4a;
    font-size: 24px;
    padding-top: 30px;
    text-align: left;
}

    p {
        font-family: 'campton';
        font-size: 18px;
        font-weight: 200;
        line-height: 1.6;
        margin-top: 0.8em;
        text-align: left;
        color: #4a4a4a;
    }


}
