/* Typography */

body {
  font-family: 'Campton', sans-serif;
  font-weight: 300;
  color: $color-font-main;
}

h1 {
    font-family: 'campton';
  }
h2 {
    font-family: 'campton';
  }
h3 {
    font-family: 'campton';
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6;
    margin-top: 0.8em;
}
h4 {
    font-family: 'campton';
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6;
    margin-top: 0.8em;
}
h5 {
    font-family: 'campton';
  }
h6 {
  font-weight: 300;
}

p {
  font-size: 16px;
  font-family: 'campton';
}

a, a:hover {
    color: $color-font-main;
}
