@import '../../sass/screens';
:local(.styles) {

::-webkit-input-placeholder {
    font-family: 'campton';
    font-weight: bold;
    color: #8F8F8F;
    text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'campton';
    font-weight: bold;
    color: #8F8F8F;
    text-transform: uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'campton';
    font-weight: bold;
    color: #8F8F8F;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    font-family: 'campton';
    font-weight: bold;
    color: #8F8F8F;
    text-transform: uppercase;
}


    &.newsletter {

        margin-top: 140px;
        background: #F5F5F5;
        padding: 100px 0;

        .form {
            font-family: 'campton';
            text-align: center;

            h3 {
                font-family: 'campton';
                font-weight: bold;
                color: #4a4a4a;
                margin-bottom: 30px;

            }

            p {
                font-family: 'campton';
                font-size: 18px;
                font-weight: 200;
                line-height: 1.6;
                margin-bottom: 60px;

            }

            .input-wrap {
                padding: 10px;
            }

            input{
                font-family: 'campton';
                font-size: 20px;
                padding: 30px 0 30px 20px;
                background: #fff;
                border-radius: 5px;

                @media (#{$phone}) {
                    padding: 15px 20px;
                    text-align: center;
                    min-width: 300px;
                }

            }

            .button-wrap {
                padding: 10px;
            }

            .submit {
                color: white;
                background: #EA5A0A;
                border: none;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 30px 40px;
                border-radius: 3px;

                @media (#{$phone}) {
                    padding: 15px 20px;
                    min-width: 300px;
                }
            }

        }
    }
}
