:local(.styles) {



		h2 {
			font-family: 'campton';
			font-size: 36px;
			font-weight: bold;
			color: #4A4A4A;
		}

		p {
		    margin: 0 0 10px;
		    font-family: 'campton';
		    font-size: 20px;
		    font-weight: 200;
		    line-height: 1.7;
		    margin-top: 0.8em;
		    text-align: left;
		}

		img{
			max-width: 100%;
			width: auto;
		}

		blockquote {
			text-align: center;
			border: 0;
			padding: 80px 8vw;
			font-family: 'campton';
			font-size: 20px;
			font-style: italic;

			& p {
				color: #4A4A4A;
				font-size: 2.6em;
				font-weight: bold;
				line-height: 1.2em;
				/*TODO campton-bold*/
			}

			& p:first-of-type:before {
				content: '\201C';
			}

			& p:last-of-type:after {
				content: '\201D';
			}

		}

		ol {
			font-family: 'campton';
			padding: 80px 2vw;
			text-align: center;
			list-style: none;

			li {
				/*TODO campton-bold*/
				color: #EA5A0A;
				font-size: 2em;
				font-weight: bold;
				line-height: 2em;
			}
		}

}
