:local(.styles){
    padding-top: 200px;
    padding-bottom: 50px;

    .published {
        text-align: left;
        font-style: italic;
        font-size: 18px;
        min-height: 50px;
    }

    .image-wrapper {

        img {
          width: 100%;
          height: auto;
        }
    }

    h4 {
    font-family: 'campton';
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
    font-size: 24px;
    padding-top: 30px;
}

    p {
        font-family: 'campton';
        font-size: 20px;
        font-weight: 200;
        line-height: 1.6;
        margin-top: 0.8em;
    }

}
