:local(.styles) {

    padding-top: 40px;
    padding-bottom: 40px;



    .icon-row{
        border-top: 1px solid #ccc;
        margin-top:60px;
        padding-top:40px;

        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        .icon{
            padding: 10px;
            text-align: center;
            img{
                width: 50px;
            }
            p {
                text-align: center;
            }
        }

    }


}
