:local(.styles) {
    padding-top: 200px;

    img {
    max-height: 220px;
    margin-top:60px;
    width: auto;
}

    h2 {
        font-family: 'campton';
        font-weight: 600;
        color: #4a4a4a ;
        font-size: 24px;
        margin-top:auto;
        
    }
    p {
      font-family: 'campton';
      font-weight: 200;
      color: #4a4a4a ;
      font-size: 18px;
      line-height: 1.8em;
    }
}
