:local(.styles){

    padding-top: 200px;

        h3 {
            font-family: 'campton';
            font-weight: 600;
            color: #4a4a4a ;
            font-size: 24px;
        }
        p {
          font-family: 'campton';
          font-weight: 200;
          color: #4a4a4a ;
          font-size: 18px;
          line-height: 1.8em;
        }
    }


    .location-row{
        margin-bottom: 100px;
    }

    .location-container{
        text-align: center;
        .location-icon{
            width: 60px;
            height: 60px;
        }

}
