:local(.styles){

    .container {
        padding: 50px 0;
    }

        h3 {
            font-family: 'campton';
            font-weight: 600;
            color: #4a4a4a ;
            font-size: 24px;
        }
        p {
          font-family: 'campton';
          font-weight: 200;
          color: #4a4a4a ;
          font-size: 18px;
          line-height: 1.8em;
          max-width: 180px;
          margin: auto;
        }
    }


    .location-row{
        margin-bottom: 100px;
    }

    .location-container{
        text-align: center;
        .location-icon{
            width: 60px;
            height: 60px;
        }

}
