:local(.styles) {
  position: fixed;
  z-index: 1;

  width: 100%;

  padding: 20px 0;
  opacity: 1;

  background: #fff;

  a, a:hover {
    color: #333;
  }

  .logo {

    a {
      font-weight: bold;
    }
  }

  nav {

    a {
      margin-right: 20px;

      &.active {
        font-weight: bold;
      }
    }
  }
}
