@import '../../sass/screens';

:local(.styles) {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    opacity: 1;
    background: #fff;
    box-shadow: 0 0 32px rgba(0,0,0,.15);

    .mobile-menu-toggler i {
        color: #4A4A4A;
        height: 50px;
        width: 60px;
        line-height: 50px;
        text-align: center;
        font-size: 35px;
        position: absolute;
        top: 20px;
        right:0;
        z-index: 1;

    }

    .logo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0;
        img {
            max-width: 100%;
            max-height: 45px;
            width: auto;
            height: auto;
        }
        a {
            font-family: 'campton';
            font-weight: bold;
        }
        @media (#{$phone}) {
            padding-right: 60px;
        }
    }

    nav {
        line-height: 50px;
        text-align: center;
        font-size: 1.2em;
        font-family: 'campton';
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (#{$phone}) {
            display: none;

            &.visible{
                display: block;
            }
            a {
                float:left;
                clear: both;
            }
        }

        a {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: #4a4a4a;

            &.active {
                font-weight: bold;
                color: #f7944d;
            }
            @media (#{$phone}) {
            padding-right: 60px;
            width: 100%;
            &:first-of-type{
                padding-top: 30px;
            }
            }
        }

    }
}
