@import '../../sass/screens';

:local(.styles) {
    position: relative;

    background: #fff;
    background-size: 100% auto;

    .row {
      @media (#{ $tablet }) {
        margin-top: 100px;
      }
      @media (#{ $desktop }) {
        margin-top: 200px;
      }
    }

    & > div.container {
        height: 800px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
        background-size: cover;
    }

    .bg-shade {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 131, 50, 0.90);
        top: 0;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        height: 340px;
    }

    @media (#{ $phone }) {
        height: 320px;
    }

    p.small-title {
        margin-top: 20px;
    }

    h1.title {
      color: #4a4a4a;
      font-size: 60px;
      margin-top: 150px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -1px;
      font-family: 'campton';
      @media (#{ $phone }) {
        font-size: 30px;
      }
    }

    p {
        color: #fff;
    }

    // CALL TO ACTION

    .cta{
      padding-top: 80px;
      margin-bottom: 150px;
        .cta-button{
            color: white;
            font-family: 'campton';
            background: #EA5A0A;
            border: none;
            white-space: nowrap;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 30px 50px;
            border-radius: 3px;
            @media (#{ $phone }) {
              font-size: 15px;
              padding: 15px 30px;
            }
        }
    }
}
