@import '../../sass/screens';

:local(.styles) {
  position: relative;

  background: #fff;
  background-size: 100% auto;

  &>div.container{
    height: 500px;
  }


  @media (min-width: 768px) and (max-width: 992px) {
    height: 340px;
  }

  @media (#{ $phone }) {
    height: 320px;
  }

  p.small-title{
      margin-top: 20;
  }

  h1.title {
    color: #4a4a4a;
    font-size: 60px;
    margin-top: 250px;
    margin-bottom: 120px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing:-1px;
    font-family:'campton'
  }

  p {
    color: #fff;
  }
}
