:local(.styles){
    margin-top: 40px;
    h2{
        font-family:'campton';
        font-size: 36px;
        font-weight: bold;
        color: #4A4A4A;
    }

    .publish-date{
        font-size: 12px;

    font-family: 'campton';
    font-size: 18px;
    font-weight: 200;
    }
}
