:local(.styles){
    display: flex;
    align-items: center;

    .image{
        flex: 0 0 200px;
        border-radius: 1000px;
        width: 200px;
        height: 200px;
        background-size: cover;
    }

    .name{
        font-weight: bold;
    }

    .title{

    }

    .email{

    }
}
