:local(.styles){
    display: flex;
    align-items: center;


    .horizontal{
        .info{
            padding-left: 15px;
        }
    }

    .vertical{

        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        padding-bottom: 70px;

        .info{
            text-align: center;
            min-height: 150px;

        }

        .image{
            margin: 0 auto;
        }

    }

    .image{
        //flex: 0 0 0px;
        background-size: cover;
        border-radius: 1000px;
        width: 150px;
        height: 150px;

    }

    .name{
        font-weight: bold;
        font-size: 24px;
        font-family: 'campton';
        color:#4a4a4a;
        margin-top: 0.8em;
    }


    .title{
      font-family: 'campton';
      font-size: 18px;
      font-weight: 200;
      line-height: 1.6;

    }

    .email{
      font-family: 'campton';
      font-size: 18px;
      font-weight: 200;
      line-height: 1.6;

    }
}
