:local(.styles){
    display: flex;
    align-items: center;


    .horizontal{
        .info{
            padding-left: 15px;
        }
    }

    .vertical{
        flex-direction: column;
        padding-bottom: 70px;
        .info{
            text-align: center;
        }

    }

    .image{
        flex: 0 0 150px;
        border-radius: 1000px;
        width: 150px;
        height: 150px;
        background-size: cover;
    }

    .name{
        font-weight: bold;
        font-size: 24px;
        font-family: 'campton';
        color:#4a4a4a;
        margin-top: 0.8em;
    }


    .title{
      font-family: 'campton';
      font-size: 18px;
      font-weight: 200;
      line-height: 1.6;

    }

    .email{
      font-family: 'campton';
      font-size: 18px;
      font-weight: 200;
      line-height: 1.6;

    }
}
